.mainPanel0, .mainPanel1, .mainPanel2, .mainPanel3 {
    width: 100%;
    height: 100%;
    background-color: gray;
    position: relative;
}
.imageViewer0, .imageViewer1, .imageViewer2, .imageViewer3 {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}