.leftPanel {
    width: 15%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.hide {
    width: 0;
}

.collapseButton {
   position: absolute;
   top: 0;
   width: 20px;
   height: 20px;
   right: 0px;
   background-image: url('../images/arrow.png');
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; 
}

.uncollapseButton {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    right: -20px;  
    background-image: url('../images/arrow.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    z-index: 20;
}