.window {
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: gray;
    height: 100%;
    width: 100%;
}

.table {
    width: 100%;
    height: 100%;
}

.table td {
    border: 1px solid white;
}